@model TechJobsPersistent.ViewModels.AddJobViewModel



<div>
    <h1>Add a Job</h1>
</div>



<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Job Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <br/>

    <div class="form-group">
        <label asp-for="EmployerId">Employers</label>
        <select asp-for="EmployerId" asp-items="Model.Employers"></select>
        <a asp-controller="Employer" asp-action="Add">Add New Employer</a>
    </div>

    <br />

    <div class="form-group">
        @foreach (var skill in Model.Skills)
        {
        <div>
            <span></span>
                <input type="checkbox" name="selectedSkills" value="@skill.Id" />
            <label for="@skill.Id">@skill.Name</label>
        </div>}
                
            

        <a asp-controller="Skill" asp-action="Add">Add New Skill</a>
    </div>

    <input type="submit" value="Add Job" />
</form>